<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2015 IBM Corp.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.-->
<server description="Integration Services">

<!-- The features installed by the Liberty application accelerator will not appear here.
  Once the application is built the configured features can be found in the
  configDropins/defaults folder in the target/wlp folder. -->

<!-- To extend the feature list either add the app accelerator Maven dependencies, add the features
 below or put a server.xml file in configDropins/overrides. Note: you may need to add Maven provided
 dependencies for use at compile time if not using app accelerator dependencies. -->


    <featureManager>
	   <feature>servlet-3.1</feature>
       <feature>localConnector-1.0</feature>
       <feature>jpa-2.0</feature>
       <feature>jaxws-2.2</feature>
       <feature>jaxrs-2.0</feature>
       <feature>ejbLite-3.2</feature>
        <feature>adminCenter-1.0</feature>
        <feature>openapi-3.0</feature>
    </featureManager>


    <httpEndpoint httpPort="9080" httpsPort="9443"
        id="defaultHttpEndpoint" host="*"/>
    <basicRegistry id="basic">
      <user name="admin" password="admin01" />
      <user name="tester" password="tester" />
   </basicRegistry>
    <keyStore id="defaultKeyStore" password="Liberty" />
    <administrator-role>
      <user>admin</user>
   </administrator-role>

    <!-- Define the host name for use by the collective.
        If the host name needs to be changed, the server should be
        removed from the collective and re-joined. -->
   <variable name="defaultHostName" value="localhost" />

   <applicationMonitor updateTrigger="mbean"/>
   <logging traceSpecification="*=audit:ibm.ra.integration.*=finest"/>
   <library id="DB2JCC4Lib">
      <fileset dir="${shared.config.dir}/lib" includes="db2jcc4.jar"/>
   </library>
   <dataSource id="db2" jndiName="jdbc/customerdb" type="javax.sql.ConnectionPoolDataSource">
     <connectionManager maxPoolSize="8" minPoolSize="2"
                       connectionTimeout="10s" agedTimeout="10m"/>
     <jdbcDriver libraryRef="DB2JCC4Lib"/>
     <!-- when deploy to access DB2 on premise -->
     <properties.db2.jcc databaseName="CUSTDB" portNumber="50000" serverName="172.16.254.23"
           currentLockTimeout="30s" user="DB2INST1" password="Brown01"/>
    
     <!-- DB2 on cloud 
     <properties.db2.jcc databaseName="BLUDB" portNumber="50000" serverName="dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
           currentLockTimeout="60s" user="vvb46996" password="pw+nbl5qs0mtf6xf"/>
   -->
   </dataSource>
   <webApplication contextRoot="caseserv" id="refarch-integration-services" location="refarch-integration-services-1-0-SNAPSHOT.war">
   	<classloader commonLibraryRef="DB2JCC4Lib" />
   </webApplication>
</server>
