<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>
		<description>
		Main servlet entry point for the REST resource/application</description>
		<servlet-name>JAX-RS Servlet</servlet-name>
		<servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>ibm.ra.integration.RAIntegrationApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<enabled>true</enabled>
		<async-supported>false</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>JAX-RS Servlet</servlet-name>
		<url-pattern>/api/v1/*</url-pattern>
	</servlet-mapping>
	<persistence-context-ref>
    <persistence-context-ref-name>inv/ctx</persistence-context-ref-name>
    <persistence-unit-name>CustomerPersistenceUnit</persistence-unit-name>
  </persistence-context-ref>

  <persistence-unit-ref>
    <persistence-unit-ref-name>inv/emf</persistence-unit-ref-name>
    <persistence-unit-name>CustomerPersistenceUnit</persistence-unit-name>
  </persistence-unit-ref>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<resource-ref> 
		<res-ref-name>jdbc/custds</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Unshareable</res-sharing-scope>
	</resource-ref>
</web-app>
